


<!-- <div class="panel panel-default" [style.direction] = "flds.direction">
  <div class="panel-heading">{{flds.title}}</div>
  <div class="panel-body"> -->
    <div class="card col-12" [style.direction] = "flds.direction">    
       
        <div class="container">
            <div class="row">
                <div class="col-md-10 stackem">
                    <div>
                        <h4 class="card-header"><strong> 
                            {{flds.title}}</strong>
                       </h4> 
           
                    </div>
                    <div>
                        <h6 class="card-header" style="color:blue"> 
                            <strong>{{flds.title2}}</strong></h6> 
                    </div>
                 </div>
                <div class="col-md-2">
                    <img src="assets/logoBikeBox.png" alt="BikeBox" style="height:90px">
      
                </div>
            </div>
        </div>
    
    
          <form [formGroup]="paymentForm" 
            form2keyb
            #ref
            (ngSubmit)="saveCardDetails()">        
            <div class="row">
    
    
                <!-- ownerName -->
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group input-group row" >
                        <span class="input-group-text" ><strong>{{flds.ownerName.label}}</strong></span>
                        <!-- <label for="id-credit-card-owner-name">Card Owner Name</label> -->
                        <input class="form-control" to-keyb 
                            type="text" 
                            formControlName="ownerName"
                            id="id-credit-card-owner-name" 
                            [ngClass]="getClasses('ownerName')"
                            [placeholder]="flds.ownerName.placeholder">                    
                    </div>
                    <and-err-input-panel name="ownerName" [f]="f"></and-err-input-panel>
                   
                </div>
    
           
                <!-- passport -->
                <div class="col-lg-12  col-md-12 col-sm-12  col-xs-12">
                    <div class="form-group input-group row" >
                        <span class="input-group-text" ><strong>{{flds.passport.label}}</strong></span>
                        <input class="form-control" to-keyb="dg" 
                            type="text" 
                            formControlName="passport"
                            [textMask]="{mask: maskPassportNum}"
                            id="id-credit-card-passport" 
                            [ngClass]="getClasses('passport')"
                            placeholder="XXXXXXXXX">                    
                    </div>
                    <and-err-input-panel name="passport" [f]="f"></and-err-input-panel>
                 
                </div>
                
                <!-- cardNumber -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group input-group row" >
                        <span class="input-group-text" ><strong>{{flds.cardNumber.label}}</strong></span>
                        <input class="form-control" to-keyb="dg" 
                            type="text" 
                            formControlName="cardNumber"
                            [textMask]="{mask: maskCardNum}"
                            id="id-credit-card-card-number" 
                            [ngClass]="getClasses('cardNumber')"
                            placeholder="XXXX-XXXX-XXXX-XXXX">                    
                    </div>
                 
                    <and-err-input-panel name="cardNumber" [f]="f"></and-err-input-panel>
    
                </div>
    
                <!-- tokef -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <div class="form-group input-group row" >
                        <span class="input-group-text" ><strong>{{flds.tokef.label}}</strong></span>
                        <input class="form-control" to-keyb="dg" 
                            type="text" 
                            formControlName="tokef"
                            [textMask]="{mask: maskTokefNum}"
                            id="id-credit-card-tokef" 
                            [ngClass]="getClasses('tokef')"
                            placeholder="MM/YY">                    
                    </div>
                    <and-err-input-panel name="tokef" [f]="f"></and-err-input-panel>
    
                     
    
                </div>
                 <!-- ccv  -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group input-group row" >
                        <span class="input-group-text" ><strong>{{flds.cvv.label}}</strong></span>
                        <input class="form-control" to-keyb="dg" 
                            type="text" 
                            formControlName="cvv"
                            [textMask]="{mask: maskCvvNum}"
                            id="id-credit-card-cvv" 
                            [ngClass]="getClasses('cvv')"
                            placeholder="XXX">                    
                    </div>
                    <and-err-input-panel name="cvv" [f]="f"></and-err-input-panel>
       
                </div>
            
           </div>
           <div class="row">
            <div class="col-lg-4 col-md-4 xol-sm-4 col-xs-12">
                <div class="form-group"  style="padding-top:2rem;padding-bottom:2rem;">
                  <button type="submit" class="btn btn-submit" style="margin-right: 10px ;">Save</button>
                  <button type="button" class="btn btn-primary" (click)="ClearCardDetails()">Clear</button>
                </div>
              </div>
        
    
           </div>
        </form>
        
    </div>
    
    
