
 <div class="container col-md-10 offset-md-1 mt-5">
    <!-- <router-outlet></router-outlet> -->
    <div class="row" *ngIf="page == E.eSelectLang">
        <and-select-language></and-select-language>
    </div>

    <div class="row" *ngIf="page === E.eLogin">
        <app-login-component></app-login-component>
    </div>

    <div class="row" *ngIf="page === E.eRegistrate">
        <and-register></and-register>
    </div>

    <div class="row" *ngIf="page === E.eCredirCard">
        <and-credit-card></and-credit-card>
    </div>

    <dialog #myDialog>
        <div  style="width: 800px;height: 480px;border-width: 8px ;border-color: blue; background-color: lightcoral;"
        *ngIf="isDialogOpen">
          <and-users-list-component></and-users-list-component>
        </div>
       <button class="btn btn-sm btn-primary me-1" (click)="myDialogClose()">
           Close
        </button>
     </dialog>
    <button class="btn btn-sm btn-primary me-1" (click)="myDialogShow()">Show Users dialog</button>
    <!-- <dialog id="MegaDialog" modal-mode="mega"  #myDialog>
        <form method="dialog">
          <header>
            <h3>Dialog title</h3>
            <button onclick="this.closest('dialog').close('close')"></button>
          </header>
          <article>...</article>
          <footer>
            <menu>
              <button autofocus type="reset" onclick="this.closest('dialog').close('cancel')">Cancel</button>
              <button type="submit" value="confirm">Confirm</button>
            </menu>
          </footer>
        </form>
      </dialog> -->
      <!-- <button    class="btn btn-sm btn-primary me-1" (click)="myDialog.show()">Show Mega dialog</button> -->

</div>
