$--bs-tertiary-bg : #ff0000;

p {
    font-family: Lato;
 }
 
 span {
   font-weight: 500;
   font-size: 1.3 rem;
 }
 
 input.form-control  {
   font-weight: 700;
   font-size: 1.2 rem;
   padding-top: 2px !important;
   padding-bottom: 2px !important;
   background-color:white !important;
 
  }
  
 
 .invalid-feedback{
   font-weight: 900 !important;
   font-size: 1.3 rem !important;
   color: red !important;
 
 
 }
 .input-group-text {
 
   width:200px;
  
   //background-color: #f0f0ff;
   height: 28px;
   
 }
 .card-body{
  background-color: aqua;
  padding-top: 4px;
  padding-bottom: 4px;
 }
 

 .check-error{
   margin-left: 20px; 
   margin-right: 20px;
 
 }
 
 .attached-toKeyb{
      border: '3px solid blue' !important;
      background-color: azure !important;
  }

  