
.btn-set-lang{
    font-size: 2rem ;
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 4rem  ;
   
   
}
.btn-set-lang-selected{
    color: yellow ;
    background-color: rgba(14, 99, 60,)
}
inpuit.center {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

inpuit.center1 {
    display: flex;

  justify-content: center;
  align-items: center;

}

inpuit.left {
    display: flex;
 
  justify-content: center;
  align-items: left;

}
inpuit.right {
    display: flex;
 
  justify-content: center;
  align-items: right;

}