<div class="container-fluid " 
    style="text-align: center;" >
    <!-- <div class="row my-3">
        <div style="height:100px;text-align: center; padding-top:20px; padding-bottom: 20px;">
            <img src="assets/logoBikeBox.png" alt="BikeBox">
         </div>

 
    </div> -->
    <div class="row" [style.height]="Height" >
        <div class="col-1"  >
        <!-- {{ Lang.name}} -->
        </div>
        <div class="col-10" sty>
            <button type="button" class="btn btn-success btn-set-lang" 
                [ngClass]="{'btn-set-lang-selected': Lang === 'en'}"
                (click)="setLanguage('en')">English</button>
            <button type="button" class="btn btn-success btn-set-lang"
                [ngClass]="{'btn-set-lang-selected': Lang === 'he'}"
                (click)="setLanguage('he')">עברית</button>
            <button type="button" class="btn btn-success btn-set-lang"
                [ngClass]="{'btn-set-lang-selected': Lang === 'ar'}"
                (click)="setLanguage('ar')">عربي</button>
            <ng-container *ngIf="env.isRussian">
            <button type="button" class="btn btn-success btn-set-lang"
                [ngClass]="{'btn-set-lang-selected': Lang === 'ru'}"
                (click)="setLanguage('ru')">Русский</button>
            </ng-container>
        </div>
        <div class="col-1">
        
        </div>
    </div>
    <div class="row" style="height: 120;">


    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <button type="button" class="btn btn-success btn-set-lang center"
                (click)="gotoLogin()">Update Credit Card</button>

        </div>
        <div class="col-4">
            <button type="button" class="btn btn-success btn-set-lang center"
                (click)="gotoRegistrate()">Registrate</button>

        </div>
        <div class="col-2"></div>
 
    
      
    </div>
   
</div>

