<div class="card col-12" [style.direction]="flds.direction" >


     <div class="container">
        <div class="row">
            <div class="col-md-10 stackem">
                <div>
                    <h4 class="card-header"><strong> 
                        {{flds.title}}</strong>
                   </h4> 
       
                </div>
                <div>
                    <h6 class="card-header" style="color:blue"> 
                        <strong>{{flds.title2}}</strong></h6> 
                </div>
             </div>
            <div class="col-md-2">
                <img src="assets/logoBikeBox.png" alt="BikeBox" style="height:100px">
  
            </div>
        </div>
    </div>


 
 
     <div class="card-body"> 
        <form form2keyb [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12 no-gutters">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-firstName">
                                <strong>{{flds.firstName.label}}</strong></span>
                        <input to-keyb  type="text" formControlName="firstName"
                            class="form-control"
                            [ngClass]="getClasses('firstName')"
                            [placeholder]="flds.firstName.placeholder" 
                            aria-describedby="id-label-firstName"/>
                    </div>
                    <and-err-input-panel name="firstName" [f]="f"></and-err-input-panel>
                    
               </div>
            </div>
            <div class="row">
               <div class="col-12 ">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-lastName">
                                <strong>{{flds.lastName.label}}</strong></span>
                        <input to-keyb  type="text" formControlName="lastName" 
                            class="form-control"
                            [ngClass]="getClasses('lastName')"
                            [placeholder]="flds.lastName.placeholder" 
                            aria-describedby="id-label-lastName"/>
                    </div>
                    <and-err-input-panel  name="lastName" [f]="f"></and-err-input-panel>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-sysName">
                                <strong>{{flds.sysName.label}}</strong></span>
                        <input to-keyb  type="text" formControlName="sysName" 
                            class="form-control"
                            [ngClass]="getClasses('sysName')"
                            [placeholder]="flds.sysName.placeholder" 
                            aria-describedby="id-label-sysName"/>
                    </div>
                    <and-err-input-panel name="sysName" [f]="f"> </and-err-input-panel>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                     <div class="input-group">
                         <span class="input-group-text" id="id-label-password">
                                 <strong>{{flds.password.label}}</strong></span>
                         <input to-keyb  type="text" formControlName="password" 
                             class="form-control"
                             [ngClass]="getClasses('password')"
                             [placeholder]="flds.password.placeholder" 
                             aria-describedby="id-label-password"/>
                        </div>
                     <and-err-input-panel name="password" [f]="f"></and-err-input-panel>
                 </div>
             </div>
 
            <div class="row">
               <div class="col-12 ">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-passport">
                                <strong>{{flds.passport.label}}</strong></span>
                        <input to-keyb="dg"  type="number" formControlName="passport" 
                            class="form-control"
                            [ngClass]="getClasses('passport')"
                            [placeholder]="flds.passport.placeholder" 
                            aria-describedby="id-label-passport"/>
                       </div>
                    <and-err-input-panel name="passport" [f]="f"></and-err-input-panel>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-email">
                                <strong>{{flds.email.label}}</strong></span>
                        <input to-keyb="en"  type="email" formControlName="email"
                             class="form-control"
                            [ngClass]="getClasses('email')" 
                            [placeholder]="flds.email.placeholder" 
                            aria-describedby="id-label-email"/>
                    </div>
                    <and-err-input-panel name="email" [f]="f"></and-err-input-panel>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-phone">
                                <strong>{{flds.phone.label}}</strong></span>
                        <input to-keyb="dg"  type="number" formControlName="phone" 
                            class="form-control"
                            [ngClass]="getClasses('phone')" 
                            [placeholder]="flds.phone.placeholder" 
                            aria-describedby="id-label-phone"/>
                     </div>
                     <and-err-input-panel name="phone" [f]="f"></and-err-input-panel>
            
                </div> 
           </div>     
            <div class="row">
                <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-address">
                            <strong>{{flds.address.label}}</strong></span>
                        <input to-keyb  type="text" formControlName="address" 
                            class="form-control"
                            [ngClass]="getClasses('address')" 
                            [placeholder]="flds.address.placeholder" 
                            aria-describedby="id-label-address"/>
                        </div>
                        <and-err-input-panel name="address" [f]="f"></and-err-input-panel>
                 </div>
            </div>
            <div class="row">
                 <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-ravkav">
                            <strong>{{flds.ravkav.label}}</strong></span>
                        <input to-keyb  type="text" formControlName="ravkav" 
                            class="form-control"
                            [ngClass]="getClasses('ravkav')" 
                            [placeholder]="flds.ravkav.placeholder" 
                            aria-describedby="id-label-ravkav"
                            />
                       <and-err-input-panel name="ravkav" [f]="f"> </and-err-input-panel>
   
                    </div>
               </div>

            </div>
 
  
            <div class="row" style="padding-top:8px;padding-bottom:8px;">
            <!--------IAMAGREE POLICY---------->
                <div class="col-12" style="background: white ;">
                    <div class="  row" style="background: white ;">
                        <div class="col-12">
                            <span class="input-group-text"  
                                style="background: white ;">
                                <strong>{{flds.iamagree.label}}&nbsp;&nbsp;
                                </strong>
                                <div style="padding-left: 8px;padding-right: 8px;">
                                    <label class="switch-checkbox" >
                                    <input type="checkbox" 
                                        name="imagreePolicy" 
                                    
                                        formControlName="imagreePolicy"
                                        (change)="OnSliderChange($event,'imagreePolicy')" >
                                    <span class="slider-checkbox round-checkbox" ></span>
                                </label>
                                </div >   
                                <a  class="link-primary" href="http://google.com" style="background: white;">
                                    {{flds.pay.policy.text}}
                                </a> 
                            </span>
                            <and-err-input-panel name="imagreePolicy" [f]="f">
                            </and-err-input-panel>

                        
                        
                        </div>
                
                    
                    </div> 
                </div>
                <!--------IAMAGREE TERMS---------->
                <div class="col-12" style="background: white ;">
                    <span class="input-group-text"  
                        style="background: white ;">
                        <strong>{{flds.iamagree.label}}&nbsp;&nbsp;
                        </strong>
                        <div style="padding-left: 8px;padding-right: 8px;">
                            <label class="switch-checkbox" >
                            <input type="checkbox" 
                                name="imagreeTerms" 
                            
                                formControlName="imagreeTerms"
                                (change)="OnSliderChange($event,'imagreeTerms')" >
                            <span class="slider-checkbox round-checkbox" ></span>
                        </label>
                        </div >   
                        <a  class="link-primary" href="http://google.com" style="background: white;">
                            {{flds.pay.terms.text}}
                        </a> 
                    </span>
                    <and-err-input-panel name="imagreeTerms" [f]="f">
                    </and-err-input-panel>
                </div>
            </div> 
    
                <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                Register
            </button>
            <a routerLink="../login" class="btn btn-link">Cancel</a>
           
        </form>
    </div>
</div>