<div class="card">
    <h4 class="card-header">Update Credit Card</h4>
    <div class="card-body">
        <form form2keyb [formGroup]="form" (ngSubmit)="onSubmit()"
        (onExitInput)="onExitInput($event)">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input to-keyb type="text" formControlName="sysname" 
                         class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && f['sysname'].errors }"
                    />
                    <and-err-input-panel  name="sysname" [f]="f"></and-err-input-panel>

                    <!-- <div *ngIf="submitted && f['sysname'].errors" class="invalid-feedback">
                        <div *ngIf="f['sysname'].errors['required']">Username is required</div>
                    </div> -->
                </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input to-keyb type="password" formControlName="password" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                <and-err-input-panel  name="password" [f]="f"></and-err-input-panel>

                <!-- <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                </div> -->
            </div>
            <div>
                <button *ngIf="!submitted" class="btn btn-primary"
                    tabindex="-1" type="submit">
                    <span *ngIf="loading" 
                    class="spinner-border spinner-border-sm me-1"></span>
                    Submit
                    
                </button>
                <button *ngIf="toRegistrate " class="btn btn-primary"
                    tabindex="-1" type="button">
                    <span *ngIf="loading" 
                    class="spinner-border spinner-border-sm me-1"></span>
                    Registrate User
                    
                </button>
                <button *ngIf="toUpdateCard" class="btn btn-primary"
                    tabindex="-1" type="button" (click)="gotoUpdateCard()">
                    <span *ngIf="loading" 
                    class="spinner-border spinner-border-sm me-1"></span>
                    Update Card
                </button>
                <button *ngIf="toRegistrate" class="btn btn-primary"
                    tabindex="-1" type="button" (click)="gotoRegistrate()">
                    <span *ngIf="loading" 
                    class="spinner-border spinner-border-sm me-1"></span>
                    Exit
                </button>

                <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
            </div>
        </form>
    </div>
</div>