<div class="card col-12" [style.direction]="flds.direction"
     style="background-color: #e0e0e0;">


     <div class="container">
        <div class="row">
            <div class="col-md-10 stackem">
                <div>
                    <h4 class="card-header"><strong> 
                        {{flds.title}}</strong>
                   </h4> 
       
                </div>
                <div>
                    <h6 class="card-header" style="color:blue"> 
                        <strong>{{flds.title2}}</strong></h6> 
                </div>
             </div>
            <div class="col-md-2">
                <img src="assets/logoBikeBox.png" alt="BikeBox" style="height:100px">
  
            </div>
        </div>
    </div>


 
 
     <div class="card-body"> 
        <form form2keyb [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-6 no-gutters">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-firstName">
                                <strong>{{flds.firstName.label}}</strong></span>
                        <input to-keyb  type="text" formControlName="firstName"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }"
                            [placeholder]="flds.firstName.placeholder" 
                            aria-describedby="id-label-firstName"/>
                    </div>
                    <and-err-input-panel name="firstName" [f]="f"></and-err-input-panel>
                    
               </div>
            
               <div class="col-6 ">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-lastName">
                                <strong>{{flds.lastName.label}}</strong></span>
                        <input to-keyb  type="text" formControlName="lastName" 
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }"
                            [placeholder]="flds.lastName.placeholder" 
                            aria-describedby="id-label-lastName"/>
                    </div>
               
                    <and-err-input-panel  name="lastName" [f]="f"></and-err-input-panel>

                </div>

            </div>
            <div class="row">
                <div class="col-6 ">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-userName">
                                <strong>{{flds.userName.label}}</strong></span>
                        <input to-keyb  type="text" formControlName="userName" 
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['userName'].errors }"
                            [placeholder]="flds.userName.placeholder" 
                            aria-describedby="id-label-userName"/>
                    </div>
                    <and-err-input-panel name="userName" [f]="f"> </and-err-input-panel>
                </div>
               <div class="col-6 ">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-passport">
                                <strong>{{flds.passport.label}}</strong></span>
                        <input to-keyb="dg"  type="number" formControlName="passport" 
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['passport'].errors }"
                            [placeholder]="flds.passport.placeholder" 
                            aria-describedby="id-label-passport"/>
                       </div>
                    <and-err-input-panel name="passport" [f]="f"></and-err-input-panel>
                </div>
            </div>
            <div class="row">
                <div class="col-6 ">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-email">
                                <strong>{{flds.email.label}}</strong></span>
                        <input to-keyb="en"  type="email" formControlName="email"
                             class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                            [placeholder]="flds.email.placeholder" 
                            aria-describedby="id-label-email"/>
                    </div>
                    <and-err-input-panel name="email" [f]="f"></and-err-input-panel>
                </div>
                <div class="col-6 ">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-phone">
                                <strong>{{flds.phone.label}}</strong></span>
                        <input to-keyb="dg"  type="number" formControlName="phone" 
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }"
                            [placeholder]="flds.phone.placeholder" 
                            aria-describedby="id-label-phone"/>
                     </div>
                     <and-err-input-panel name="phone" [f]="f"></and-err-input-panel>
            
                </div> 
           </div>     

             <div class="row">
                <div class="col-6">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-address">
                            <strong>{{flds.address.label}}</strong></span>
                        <input to-keyb  type="text" formControlName="address" 
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['address'].errors }"
                            [placeholder]="flds.address.placeholder" 
                            aria-describedby="id-label-address"/>
                        </div>
                        <and-err-input-panel name="address" [f]="f"></and-err-input-panel>
                 </div>
                 <div class="col-6">
                    <div class="input-group">
                        <span class="input-group-text" id="id-label-ravkav">
                            <strong>>{{flds.ravkav.label}}</strong></span>
                        <input to-keyb  type="text" formControlName="ravkav" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['ravkav'].errors }"
                            [placeholder]="flds.ravkav.placeholder" 
                            aria-describedby="id-label-ravkav"/>
                       <and-err-input-panel name="ravkav" [f]="f"> </and-err-input-panel>
   
                    </div>
               </div>

            </div>

            <div class="row" style="padding-top:8px;">
 <!--------IAMAGREE TERMS---------->
                <div class="form-group input-group row" >
                    <div class="col-12">
                        <span class="input-group-text" 
                       
                    ><strong>{{flds.iamagree.label}}</strong>
                    <div style="padding-left: 8px;padding-right: 8px;">
                        <label class="switch" >
                        <input type="checkbox" >
                        <span class="slider round" ></span>
                      </label>
                    </div >   
                      
                    
                            <!-- <mat-slide-toggle 
                                formControlName="imagreeTerms" 
                                
                                id="imagreeTermsId"  
                                type="checkbox" 
                                class="form-check-input check-im-agree"
                                name="imagreeTerms"
                            > 
                            
                            </mat-slide-toggle>
                            <a  class="link-primary" href="http://google.com">
                                {{flds.pay.terms.text}}
                            </a> -->

                        <div class="check-error">
                            <and-err-input-panel name="imagreeTerms" [f]="f"></and-err-input-panel>
                        </div>
            
                    </span>
                    </div>
            
                
                </div> 
            </div>
                <!--------IAMAGREE POLICY---------->
            <!-- <div class="row">


                <div class="form-group input-group row" >
                    <div class="col-12" style="background-color: white;">
                        <span class="input-group-text" 
                            style="background-color: white;">{{flds.iamagree.label}}
                        
                                <mat-slide-toggle 
                                    formControlName="imagreePolicy" 
                                    
                                    id="imagreePolicyId"  
                                    type="checkbox" 
                                    class="form-check-input check-im-agree"
                                    name="imagreePolicy"
                                    (change)="OnSliderChange('imagreePolicy')"
                                    
                                > 
                                
                                </mat-slide-toggle>
                                <a  class="link-primary" href="http://google.com">
                                    {{flds.pay.policy.text}}
                                </a>
                                <div class="check-error">
                                    <and-err-dialog-control-panel 
                                            name="imagreePolicy" [control]="c('imagreePolicy')">
                                    </and-err-dialog-control-panel>           
                    
                                </div>
                            
                         
                        </span>
                    </div>
                    
                </div> 

            </div> -->

            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                Register
            </button>
            <a routerLink="../login" class="btn btn-link">Cancel</a>
           
        </form>
    </div>
</div>